n8n-linkedin-workflow.json
{
  "name": "LinkedIn Tech Recruiter Connection Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "cdefbb26-ec41-4560-b8d2-43d93a107817",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "27f80459-7e4a-4a27-a06d-741ce69b0fa6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        420
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "boolean_query",
              "value": "site:linkedin.com/in (recruiter OR \"talent acquisition\" OR \"hiring manager\" OR \"HR\") (hiring OR recruiting) (Brazilian OR Brazil OR LATAM) (abroad OR international OR relocation OR \"visa sponsorship\" OR \"remote international\")"
            }
          ]
        },
        "options": {}
      },
      "id": "7f1fb559-052b-4add-834c-6cf4df57270e",
      "name": "Set Search Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        340
      ]
    },
    {
      "parameters": {
        "command": "=\"node /Users/lucassantana/Desenvolvimento/networking/linkedin-n8n-bot/linkedin-connector.js '\" + $json.boolean_query + \"'\""
      },
      "id": "f512deb1-5a50-4ff6-8367-a0d78fb4ea85",
      "name": "Execute Playwright Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        820,
        340
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Set Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Query": {
      "main": [
        [
          {
            "node": "Execute Playwright Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfa2bdf5-d069-4d6b-bd85-1d0cc157492c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3eecb144fae2e8dafa430ba81b0a88e9ebba50325b128c7f999602e1c94d0dc"
  },
  "id": "Pz7Q6S8pAqDk71h1",
  "tags": []
}
